.slider {
  max-width: 80%;
  height: 100%;
  height: 30vh;
  display: flex;
  position: relative;
  overflow: hidden;
  user-select: none;
  margin: 60px auto 0;
}

.slider__slides-container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.slider__slide {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  background-color: #ffcbf7;
}

.slider__side {
  max-width: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.slider__left {
  flex-direction: column;
  background-color: transparent;
}

.slider__right {
  background-color: transparent;
}

.slider__button-container {
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
}

.slider__button-container_left {
  left: 0;
  bottom: 0;
}

.slider__button-container_right {
  right: 0;
  bottom: 0;
}

.slider__button {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.1);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  img {
    width: 16px;
    height: 18px;
    object-fit: cover;
    margin-left: 2px;
  }
}

.slider__button_left {
  transform: rotate(180deg)
}

.slider__pagination-list {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 16px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider__pagination-item {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(128, 128, 128);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -10px;
    height: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: -10px;
    height: 10px;
  }
}

.slider__pagination-item_active {
  background-color: #000;
  width: 7px;
  height: 7px;
}

@media(hover: hover) and (pointer: fine) {
  .slider__button {  
    &:hover {
      background-color: #fff;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    max-width: 100%;
  }
}